<div class="container-fluid bg-image">
  <div class="row align-items-start justify-content-between">
    <div class="col-6">
      <h1 class="d-4 text-white title m-3">ezewa.</h1>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-light m-3" (click)="openLogin()">Login</button>
    </div>
    <div class="col-12 mt-5">
      <div class="text-center mt-4">
        <h1 class="text-white sub-title">ezewa</h1>
      </div>
      <div class="text-center">
        <h1 class="text-white description">renting never been that simple.</h1>
      </div>
      <div class="text-center">
        <button class="btn btn-light w-50 mt-5 p-3" (click)="openGetStarted()">Get Started</button>
      </div>
    </div>
  </div>
  <p class="position-absolute bottom-0 start-50 translate-middle-x mb-4 text-center text-light" style="font-weight: 600;">Made with 🤍 by Keluarga Cemara.</p>
</div>
