<div class="container h-100 mt-5 pt-5">
  <div
    class="row justify-content-evenly"
    *ngIf="building.length > 0; else notfound"
  >
    <div
      class="col-3 mb-4"
      *ngFor="
        let build of building | paginate : { itemsPerPage: 8, currentPage: p,}
      "
    >
      <div class="card" style="width: 16rem;" (click)="navDetail(build.buildingId)">
        <img
          class="card-img-top"
          [src]="build.buildingImages[0].url"
          alt="Card image cap"
          style="object-fit: cover; height: 250px;"
        />
        <div class="card-body">
          <p class="card-text">
            {{ build.buildingName }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="p = $event"
    class="text-center"
  ></pagination-controls>
</div>
<ng-template #notfound>
  <div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="fs-3">Not found..</h1>
  </div>
</ng-template>
